*{
    box-sizing: border-box;
}

body{
    background: url(shara\ desert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 60px;
}
.container-1{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;   
}

img{
    height: 40px;
    width: 40px;
}
.navbar{
    display:flex;
    color: white;  
}


ul li{
    list-style:none;
    margin: 0px 20px;
    display: inline-block;
    padding: 0px 10px;   
}
.container-2{
    display:flex;
    margin: 60px;
}

.sahara{
    font-weight: bolder;
    color: white;
}
#fs{
    font-display: bolder;
    font-size: 80px;
}
.task{
    height: 30px;
    width: 130px;
    text-align: center;
    color: black;
    border-radius: 20px;
    margin-top: 30px; 
    background-color: white;     
}

.grid{
    display: grid;
    grid-template-columns:250px 250px;
    grid-template-rows: 250px 250px;
    height: 400px;
    row-gap: 20px;
    column-gap: 40px;
    margin-left: 200px;
    width: 80%;  
    color: white;  
}
.box{
    background-color: azure;
    border-color:3px solid black;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.box:hover{
    transform: translateY(-15px);
}
.box1{
    background-image: url(pic-1.png);
    background-size: cover;
}
.box2{
    background-image: url(pic-2.png);
    background-size: cover;
}
.box3{
    background-image: url(pic-3.png);
    background-size: cover;
}
.box4{
    background-image: url(./pic-4.png);
    background-size: cover;
}

@media screen and (min-width:280px) and (max-width:500) {
    body{
        background-size: auto;
        background-repeat: no-repeat;
    }
    .navbar{
        width: 100vw;
    }
    .container-2{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .grid{
        grid-template-columns: 250px;
    }
    .box{
        height: 250px;   
    }
    ul li{
        display: block;
    }
}

@media screen and (min-width:500px) and (max-width:900) {

    body{
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        height: 100%;
    }
    .container-2{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: 450px;
    }
    .box{
        height: 250px;
    }
    
}